# --- API Config ---
API_URL=""
NEXT_PUBLIC_API_URL=""
API_TOKEN=""

# --- Auth.js Secret ---
# ใช้สำหรับเข้ารหัส Session (ห้ามเปลี่ยนไปมา ไม่งั้น User หลุด)
AUTH_SECRET=""

# --- ThaID Sandbox Configuration (CORRECTED URL) ---
# ต้องแก้
THAID_ISSUER=""

# Auth URL
# ต้องแก้
NEXT_PUBLIC_THAID_AUTH_URL=""

# Token & UserInfo (Service)
# ต้องแก้
THAID_TOKEN_URL=""
THAID_USERINFO_URL=""

# Credentials (Sandbox)
# ต้องแก้
NEXT_PUBLIC_THAID_CLIENT_ID=""
THAID_CLIENT_SECRET=""
THAID_BASIC_TOKEN=""
THAID_API_KEY=""


# # API For Employee Checking
# EMPLOYEE_API_URL=""
# EMPLOYEE_API_KEY=""

# --- Auth.js Config ---
AUTH_TRUST_HOST=true
AUTH_URL=""
NEXT_PUBLIC_APP_URL=""